 /* Resetando margin, padding e setando box-sizing */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
 }

 html {
     scroll-behavior: smooth;
 }

 /* Estilo do body */
 body {
     background-color: #0f1319;
     color: #fff;
     display: flex;
     justify-content: center;
     /* Centraliza horizontalmente */
     align-items: center;
     /* Centraliza verticalmente */
     min-height: 100vh;
     /* Garante que ocupe 100% da altura da tela */
     flex-direction: column;
     margin: 0;
 }

 .card {
     text-align: center;
     padding: 20px;
     backdrop-filter: blur(10px);
     border-radius: 15px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
     width: 90%;
     /* Ajuste a largura do card conforme necessário */
     max-width: 600px;
     /* Limita a largura máxima */
     margin: 0 auto;
     /* Garante que o card esteja no centro, horizontalmente */
     margin-bottom: 250px;
 }

 /* Imagem do perfil */
 .profile-img {
     width: 195px;
     height: 170px;
     border-radius: 50%;
     box-shadow: 0 0 10px rgba(255, 255, 255, 0.622);
     margin-bottom: 15px;
 }

 /* Título do perfil */
 .title {
     font-family: "Montserrat", sans-serif;
     font-size: 2em;
     font-weight: 200;
     margin-bottom: 10px;
 }

 /* Descrição do perfil */
 .description {
     font-family: "Noto Sans Serif", sans-serif;
     font-size: 1.2em;
     color: #b0bec5;
     margin-bottom: 20px;
 }

 /* Botões */
 .button-container {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .btn {
     padding: 15px 20px;
     border: none;
     border-radius: 5px;
     color: #fff;
     font-size: 1em;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     transition: all 0.3s ease;
     cursor: pointer;
 }

 .btn:hover {
     transform: translateY(-3px);
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 }

 /* Botões para cada link */
 .btn-strava {
     background-color: #1da1f2;
 }

 .btn-whatsapp {
     background-color: #1da1f2;
 }

 .btn-instagram {
     background-color: #1da1f2;
 }

 .btn-section {
     background-color: #1da1f2;
 }

 .btn i {
     font-size: 1.2em;
 }

 /* Seções de conteúdo */
 .section-header {
     font-family: "Montserrat", sans-serif;
     font-size: 1.5em;
     margin: 20px 0 10px 0;
     color: #1da1f2;
 }

 .section {
     text-align: left;
     margin: 10px 0;
     padding: 10px;
     background: rgba(0, 0, 0, 0.5);
     border-radius: 10px;
 }


 section#sobre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
  }
  
  /* Galeria de Imagens */
.image-gallery {
    flex: 1 1 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .image-gallery img {
    width: 100%;
    height: 200px; /* Altura fixa para todas as imagens */
    border: 2px solid #fff;
    border-radius: 5px;
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorção */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .image-gallery img:hover {
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.6);
  }

  /* Texto */
  .about-text {
    flex: 1 1 45%;
  }
  
  .about-text h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #00aaff;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .about-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: justify;
  }

  .cta-button {
    display: inline-block;
    margin: 20px auto 0;
    padding: 15px 30px;
    background-color: #00aaff; /* Azul correspondente ao estilo do projeto */
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0088cc; /* Azul mais escuro no hover */
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  }
  
  .cta-button:active {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .cta-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }

 /* Responsividade */
 @media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

     .card {
         padding: 15px;
     }

     .title {
         font-size: 1.5em;
     }

     .description {
         font-size: 1em;
     }

     .btn {
         font-size: 0.9em;
     }
   
 }

 @media (max-width: 480px) {
    .image-gallery {
      grid-template-columns: 1fr;
    }
  }

  /* Animação para itens surgindo */
[data-aos] {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  [data-aos="fade-up"] {
    opacity: 1;
    transform: translateY(0);
  }